@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grad {
    background-color: rgb(244 244 245);
    background-image: linear-gradient(225deg, #ff149296 0%, #00ffff96 100%);
    background-size: 400% 400%;
    animation: bgPosDrift 60s ease infinite;
  }
  .bg-grad-2 {
    background: linear-gradient(269deg, #0AB2AA 0%, #4622FC 53.4%, #FF00C4 108.59%);
  }
  .text-grad {
    background: linear-gradient(92deg, #B507DC 0.82%, #2F0FDB 26.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .one-corn {
    border-bottom-right-radius: 100% 100px;
  }
  .one-corn-top {
    border-top-right-radius: 100% 100px;
  }
}

/* make the header bright */
/* .nextra-nav-container .nextra-nav-container-blur {
  background-color: transparent !important;
}
:is(html[class~="dark"] .nextra-nav-container .nextra-nav-container-blur) {
  background-color: transparent !important;
} */
.nextra-nav-container.nx-bg-transparent {
  @apply bg-grad
}

/* Line numbers for code examples */
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}

@keyframes bgPosDrift {
  0% { background-position: 100% 50%; }
  50% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}